
<div id="control_panel" style="line-height:20px;">
	<img src="/gfx/logo/casamiento_black.svg" style="vertical-align:middle;width:150px" />
	
	<div class="layout_container" id="printer_icon">
		<img src="/gfx/icons/printer35.svg" style="width:50px;vertical-align:middle;" />
	</div>
	
	<img src="/gfx/logo/drms.svg" style="padding:5px;display:block;float:right;width:140px;"/>
</div>




