<script type="text/template" id="form_template">

<form>
<label for="monogram_bride">Brides name for monogram</label>
<input type="text" name="monogram_bride" value="{{=monogram_bride}}"></input>

<label for="monogram_groom">Grooms name for monogram</label>
<input type="text" name="monogram_groom" value="{{=monogram_groom}}"></input>

<label for="groom_fullname">Groom's fullname</label>
<input type="text" name="groom_fullname" value="{{=groom_fullname}}"></input>

<label for="bride_fullname">Bride's fullname</label>
<input type="text" name="bride_fullname" value="{{=bride_fullname}}"></input>


<label for="wedding_day">Wedding DAY</label>
<input type="text" name="wedding_day" value="{{=wedding_day}}"></input>

<label for="wedding_month">Wedding MONTH</label>
<input type="text" name="wedding_month" value="{{=wedding_month}}"></input>

<label for="wedding_year">Wedding YEAR</label>
<input type="text" name="wedding_year" value="{{=wedding_year}}"></input>

<label for="rsvp_day">RSVP DAY</label>
<input type="text" name="rsvp_day" value="{{=rsvp_day}}"></input>

<label for="rsvp_month">RSVP MONTH</label>
<input type="text" name="rsvp_month" value="{{=rsvp_month}}"></input>


<label for="rsvp_year">RSVP YEAR</label>
<input type="text" name="rsvp_year" value="{{=rsvp_year}}"></input>

<label for="rsvp_address">RSVP Address</label>
<input type="text" name="rsvp_address" value="{{=rsvp_address}}"></input>

<label for="venue">Wedding Venue</label>
<input type="text" name="venue" value="{{=venue}}"></input>

<label for="location">Wedding Location</label>
<input type="text" name="location" value="{{=location}}"></input>


<label for="rsvp_phone">RSVP Phone</label>
<input type="text" name="rsvp_phone" value="{{=rsvp_phone}}"></input>


<label for="rsvp_email">RSVP Email</label>
<input type="text" name="rsvp_email" value="{{=rsvp_email}}"></input>

<p>Text before</p>
<hr/>

<div id="beforetext_container">
{{ var counter = 0; }}
{{beforetext.forEach(function(line) { }}

				 <label for="beforetext{{=counter}}">Line {{=counter}}</label><br/>
				<input type="text" value="{{=line}}" name="beforetext{{=counter}}" size="50" data-field="beforetext" data-counter="{{=counter}}"></input>
				<img src="/gfx/icons/delete.svg" style="width:13px;" data-delete="{{=counter}}" data-field_type="beforetext" class="delete"><br/>
				
  {{ counter++; }}
{{ }) }}
<div class="add" style="cursor:pointer;width:150px;padding:10px;text-align:center;border-radius:8px;font:normal 1em OS Light" data-field_type="beforetext"><img src="/gfx/icons/add.svg" style="vertical-align:middle;width:15px;"> ADD ANOTHER LINE</span><br/>
</div>

</div>
<div id="middletext_container">
{{ var counter = 0; }}
{{middletext.forEach(function(line) { }}

				 <label for="middletext{{=counter}}">Line {{=counter}}</label><br/>
				<input type="text" value="{{=line}}" name="middletext{{=counter}}" size="50" data-field="middletext" data-counter="{{=counter}}"></input>
				<img src="/gfx/icons/delete.svg" style="width:13px;" data-delete="{{=counter}}" data-field_type="middletext" class="delete"><br/>
				
	{{ counter++; }}
{{ }) }}
<div class="add" style="cursor:pointer;width:150px;padding:10px;text-align:center;border-radius:8px;font:normal 1em OS Light" data-field_type="middletext"><img src="/gfx/icons/add.svg" style="vertical-align:middle;width:15px;"> ADD ANOTHER LINE</span><br/>
</div>

</div>
<div id="maintext_container">
{{ var counter = 0; }}
{{maintext.forEach(function(line) { }}

				 <label for="maintext{{=counter}}">Line {{=counter}}</label><br/>
				<input type="text" value="{{=line}}" name="maintext{{=counter}}" size="50" data-field="maintext" data-counter="{{=counter}}"></input>
				<img src="/gfx/icons/delete.svg" style="width:13px;" data-delete="{{=counter}}" data-field_type="maintext" class="delete"><br/>
				
	{{ counter++; }}
{{ }) }}
<div class="add" style="cursor:pointer;width:150px;padding:10px;text-align:center;border-radius:8px;font:normal 1em OS Light" data-field_type="maintext"><img src="/gfx/icons/add.svg" style="vertical-align:middle;width:15px;"> ADD ANOTHER LINE</span><br/>
</div>

</div>
<input type='hidden' name='ebay_id' value='{{= ebay_id }}'></input
<input type='submit' style='padding:1em;margin-top:1em;'></submit>
</form>
</script>