<script type="text/template" id="invitation_front_template">

	<div class="invitation_front A6_container">
			
			<img src="/invite/simplicity_back.svg" class="invitation_image" />	
			
			<div class="valign_container">
			
				<div id="original_monogram" class="foralign monogram">

					<div class="first_name">
						<img class="monogram_top_line" src="/invite/line.svg" />
						<img class="monogram_bottom_line" src="/invite/line.svg" />
						<span class="editable actual_first_name" >{{= monogram_bride }}</span>
					</div>
					
					<img id="ampersand" src="/invite/ampersand.svg" />
					
					<div class="second_name">
						<img class="monogram_top_line" src="/invite/line.svg" />
						<img class="monogram_bottom_line" src="/invite/line.svg" />
						<span class="editable actual_second_name" >{{= monogram_groom }}</span>
					</div>
						
					<div class="monogram_town">
						<span  class="editable monogram_city">{{= venue }}</span>, 
						<span  class="editable monogram_county">{{= location }}</span>
					</div>
					
					<div  class="editable monogram_date">{{= pretty_monogram_month }} {{=wedding_day}}{{= pretty_date_subscript}}, 2015</div>
				</div>
		
			
			
			
			   <div id="before_text" class="foralign">
				 {{ beforetext.forEach(function(line) { }}
				 	<span class="editable" >{{= line }} {{ if (beforetext[beforetext.length - 1] == line) { }} 
				 {{ } else { }}			
					<img src="/invite/bullet.svg" class="bullet" style="vertical-align:middle;" />
					{{ } }} 
				{{ }) }}
				 </div>
			
			
			
			
			<div id="bride_and_groom" class="foralign style="position:relative;">
			
				<div style="position:absolute">
				<img src="/gfx/circle_bride.svg" style="display:block;width:85mm;height:19mm;margin-left:10mm;" />
				</div>
				
				<div id="groom_fullname"  class="editable bride">{{= groom_fullname}}</div>				
				<div class="and">and</div>				
				<div "bride_fullname" class="editable groom" >{{= bride_fullname }}</div>
				
			</div>
			
			
			
			
				 <div id="middle_text" class="request foralign">
				 {{ middletext.forEach(function(line) { }}
				 <span class="editable" >{{= line }} {{ if (middletext[middletext.length - 1] == line) { }} 
			
				 {{ } else { }}
				
<img src="/invite/bullet.svg" class="bullet" style="vertical-align:middle;" />
{{ } }} 
				{{ }) }}
				 </div>
			
			
			
			<div  class="foralign guestname">Mr &amp; Mrs Guest Name</div>
			<div class="foralign">
			<table id="description_text">
				<tr>
				<td style="vertical-align:middle;">
				{{ maintext.forEach(function(line) { }}
				 <span class="editable" >{{= line }} {{ if (maintext[maintext.length - 1] == line) { }} 
			
				 {{ } else { }}
				
<img src="/invite/bullet.svg" class="bullet" style="display:inline-block;vertical-align:middle;" />
{{ } }} 
				{{ }) }}
				
				</td>
				</tr>
				</table>
				</div>
				
				
				
				
				
				
				
				<div class="foralign">
				<table id="rsvp_table" style="border-collapse:collapse;margin:0 auto;width:82mm;">
					<tr>
						<td style="width:27mm;vertical-align:middle;">
							please RSVP by<br/>
							{{=rsvp_day}}&middot;{{=rsvp_month}}&middot;{{=rsvp_year}} 
						</td>
						<td style="padding-right:4mm;vertical-align:middle;width:61mm;">
						
							<img src="/invite/rsvp_envelope.svg" style="padding-right:3px;vertical-align:middle;width:13px;" />	<span class="editable" >{{= rsvp_address }}</span> 							<img src="/invite/rsvp_mouse.svg" style="padding-right:3px;vertical-align:middle;width:13px;" />	<span class="editable" >{{= rsvp_email }}</span> <img src="/invite/rsvp_phone.svg" style="padding-right:3px;vertical-align:middle;width:10px;" />	<span class="editable" >{{= rsvp_phone }}</span>
						</td>
				</table>
				</div>
				<div class="foralign">
				<img src="/invite/ornament.svg" style="margin:0 auto;width:5mm;display:block;" />
				</div>
				
				</div>
		</div>
	
		
		
</script>