
<!-- PRINTER ALERT BOX -->

<div id="ui_print_alert">       

	<img src="/gfx/close/close3.svg" class="close" />    
	
	<div id="choose_layout">Choose layout</div>
	
	<div id="layout_icons_wrapper">
	
		<div class="layout_container" id="folded_invite" style="width:90%;border-radius:10px;">
			<img src="/gfx/icons/open.svg" style="width:35px;vertical-align:middle;float:left;" />
		
			<div class="details" style="padding-top:5px;text-align:left;font:normal 1.2em 'OS Light';margin-left:50px;">
				If you want to have your invitations folded with a front cover and an inside, then choose this option.<br/>
				<span style="font:normal 0.9em 'OS Light Italic';line-height:0.9em;">Two pages will be printed and after the first page has printed you will need to turn it over and print onto the other side. You will have 2 invitations per A4 page.</span>
			</div>
		</div>
		
		<div class="details" style="clear:both;text-align:center;font:normal 1.2em 'OS Light';margin-left:100px;">
				OR
		</div>
		
		<div class="layout_container" id="flat_invite" style="width:90%;border-radius:10px;">
			<img src="/gfx/icons/flat.svg" style="width:35px;vertical-align:middle;float:left;" />
		
			<div class="details" style="padding-top:5px;text-align:left;font:normal 1.2em 'OS Light';margin-left:50px;">
					If you want flat invitations printed on both sides, choose this option.<br/>
				<span style="font:normal 0.9em 'OS Light Italic';line-height:0.9em;">One page will be printed. Turn the page over and then print again using this option. You will have 4 invitations per A4 page.</span>
			</div>
		</div>
		
	</div>
	
	
	<div style="margin:0 auto;width:48%;padding-top:0.5em;">
		<div class="grey_button" id="print_now" style="border-radius:10px;clear:both;width:150px;">SUBMIT</div>
	</div>
	
</div>