<!doctype html>
<html>
  <head>
	
		<link rel="stylesheet" href="/stylesheets/reset.css" />       
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />   
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>    
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
		<script>
		_.templateSettings = {
		interpolate: /\{\{=(.+?)\}\}/g,
		evaluate: /\{\{(.+?)\}\}/g
};
</script>
		
  </head>
	
  <body>
	
	
	
	

<!-- PRINTER ALERT BOX -->

<div id="ui_print_alert">       

	<img src="/gfx/close/close3.svg" class="close" />    
	
	<div id="choose_layout">Choose layout</div>
	
	<div id="layout_icons_wrapper">
	
		<div class="layout_container" id="folded_invite" style="width:90%;border-radius:10px;">
			<img src="/gfx/icons/open.svg" style="width:35px;vertical-align:middle;float:left;" />
		
			<div class="details" style="padding-top:5px;text-align:left;font:normal 1.2em 'OS Light';margin-left:50px;">
				If you want to have your invitations folded with a front cover and an inside, then choose this option.<br/>
				<span style="font:normal 0.9em 'OS Light Italic';line-height:0.9em;">Two pages will be printed and after the first page has printed you will need to turn it over and print onto the other side. You will have 2 invitations per A4 page.</span>
			</div>
		</div>
		
		<div class="details" style="clear:both;text-align:center;font:normal 1.2em 'OS Light';margin-left:100px;">
				OR
		</div>
		
		<div class="layout_container" id="flat_invite" style="width:90%;border-radius:10px;">
			<img src="/gfx/icons/flat.svg" style="width:35px;vertical-align:middle;float:left;" />
		
			<div class="details" style="padding-top:5px;text-align:left;font:normal 1.2em 'OS Light';margin-left:50px;">
					If you want flat invitations printed on both sides, choose this option.<br/>
				<span style="font:normal 0.9em 'OS Light Italic';line-height:0.9em;">One page will be printed. Turn the page over and then print again using this option. You will have 4 invitations per A4 page.</span>
			</div>
		</div>
		
	</div>
	
	
	<div style="margin:0 auto;width:48%;padding-top:0.5em;">
		<div class="grey_button" id="print_now" style="border-radius:10px;clear:both;width:150px;">SUBMIT</div>
	</div>
	
</div>



	
	
	<!-- CONTROL PANEL -->

<div id="control_panel" style="line-height:20px;">
  <img src="/gfx/logo/casamiento_black.svg" style="vertical-align:middle;width:150px" />
	
	<div class="layout_container" id="printer_icon">
		<img src="/gfx/icons/printer35.svg" style="width:50px;vertical-align:middle;" />
	</div>
	
	<img src="/gfx/logo/drms.svg" style="padding:5px;display:block;float:right;width:140px;"/>
</div>











<!-- FORM TEMPLATE -->

<script type="text/template" id="invitation_form">
  <form>
    <input type="text" name="monogram_name">
  </form>
</script>



<!-- TEMPLATE -->

<script type="text/template" id="invitation_front_template">


	<div class="invitation_front A6_container">
			
			<img src="/invite/simplicity_back.svg" class="invitation_image" />	
			<div class="valign_container">
			<div id="original_monogram" class="foralign monogram">

				<div class="first_name">
					<img class="monogram_top_line" src="/invite/line.svg" />
					<img class="monogram_bottom_line" src="/invite/line.svg" />
					<span class="editable actual_first_name" contenteditable="false">{{= monogram_bride }}</span>
				</div>
				
				<img id="ampersand" src="/invite/ampersand.svg" />
				
				<div class="second_name">
					<img class="monogram_top_line" src="/invite/line.svg" />
					<img class="monogram_bottom_line" src="/invite/line.svg" />
					<span class="editable actual_second_name" contenteditable="false">{{= monogram_groom }}</span>
				</div>
					
				<div class="monogram_town">
					<span contenteditable="false" class="editable monogram_city">{{= venue }}</span>, 
					<span contenteditable="false" class="editable monogram_county">{{= location }}</span>
				</div>
				
				<div contenteditable="false" class="editable monogram_date">{{= pretty_monogram_month }} {{=wedding_day}}{{= pretty_date_subscript}}, 2015</div>
				</div>
		
			
			
			
			
			
			
			
			
			<div id="bride_and_groom" class="foralign">
				<div id="groom_fullname" contenteditable="false" class="editable bride">{{= groom_fullname}}</div>				
				<div class="and">and</div>				
				<div "bride_fullname" class="editable groom" contenteditable="false">{{= bride_fullname }}</div>
			</div>
			
			
			
			
			<div class="request foralign">{{=introtext}}</div>
			
			
			
			
			<div contenteditable="false" class="foralign guestname">Mr &amp; Mrs Guest Name</div>
			<div class="foralign">
			<table id="description_text">
				<tr>
				<td style="vertical-align:middle;">
				{{ maintext.forEach(function(line) { }}
         <span class="editable" contenteditable="false">{{= line }} <img src="/invite/bullet.svg" class="bullet" style="display:inline-block;vertical-align:middle;" />
				{{ }) }}
				
				</td>
				</tr>
				</table>
				</div>
				
				
				
				
				
				
				
				<div class="foralign">
				<table id="rsvp_table" style="border-collapse:collapse;margin:0 auto;width:82mm;">
					<tr>
						<td style="width:27mm;vertical-align:middle;">
							please RSVP by<br/>
							{{=rsvp_day}}&middot;{{=rsvp_month}}&middot;{{=rsvp_year}} 
						</td>
						<td style="padding-right:4mm;vertical-align:middle;width:61mm;">
						
							<img src="/invite/rsvp_envelope.svg" style="padding-right:3px;vertical-align:middle;width:13px;" />	<span class="editable" contenteditable="false">{{= rsvp_address }}</span> 							<img src="/invite/rsvp_mouse.svg" style="padding-right:3px;vertical-align:middle;width:13px;" />	<span class="editable" contenteditable="false">{{= rsvp_email }}</span> <img src="/invite/rsvp_phone.svg" style="padding-right:3px;vertical-align:middle;width:10px;" />	<span class="editable" contenteditable="false">{{= rsvp_phone }}</span>
						</td>
				</table>
				</div>
				<div class="foralign">
				<img src="/invite/ornament.svg" style="margin:0 auto;width:5mm;display:block;" />
				</div>
				
				</div>
		</div>
	
		
		
</script>


<script type="text/template">


		<div class="invitation_back A6_container">
			<img src="simplicity_front.svg" class="invitation_image" />	
			<div class="second_monogram" style="margin-top:35mm;"></div>
			<div style="padding-top:30mm;margin:0 auto;text-align:center;font:normal 1em 'TP';letter-spacing:0.2em">&middot;Invitation&middot;</div>
		</div>
		</script>

<!-- USER INTERFACE DISPLAY -->

<div style="overflow:hidden" id="ui_container">
  <div id="ui_area"> 
    <div id="invitation_front_preview"></div>		
		<div class="A6_container">
			<div id="form_container"></div>
		</div>
  </div>
</div>






<!-- PRINTABLE AREA -->


<div id="printable_area">

		
		
	
</div>

<script>

var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

function determine_date_subscript(number) {
	if (number == 1 || number == 21 || number == 31) {
		return "st";
	} else if (number == 2 || number == 22) {
		return "nd"
	} else if (number == 3 || number == 23) {
		return "rd"
	} else {
		return "th"
	}
}

// Scale the ui_area so that it looks nice on the screen
var vw = $('html').width();
var height_of_ui_container = (1.4142857142857142857142857142857 * vw)
$('#ui_container').css("height",height_of_ui_container + 75)

var transform_value = vw / 794 // 794 is the width of an A4 page in pixels

$('#ui_area').css("transform", "scale(" + transform_value + ")")
$('#ui_area').css("transform-origin", "top left")


var Detail = Backbone.Model.extend({
  defaults: {
		monogram_bride: "Anna",
		monogram_groom: "David", 	
		groom_fullname: "Jonathan Henry Griffiths",
		bride_fullname: "Anna Eleanor Martin",
		wedding_day: 31,
		wedding_month: 05,
		wedding_year: 2015,
		venue: "Appuldurcombe House", 
		location: "Winchester",		
	  rsvp_day: 05,
		rsvp_month: 03,
		rsvp_year: 2015,
		rsvp_address: "32 Middlewood Rd, Brigton, me3 21b",
		rsvp_email: "david.pettifer@dizzy.co.uk",
		rsvp_phone: "07814 752865",
		introtext: "request the pleasure of the company of",
		maintext: [ "on the occasion of their marriage", "to take place at", "The Ravensworth Hotel, Lamesley, Winchester", "on Saturday 17th June 2012 at 1.30pm", "Followed by a Reception at Lakeside Manor Park"],
	}
})

var detail = new Detail();

function Valign() {
	var container_height = $('.valign_container').first().height();
	var total_height_of_elements = 0;
	var counter = 1;
	$('.valign_container').first().find('.foralign').each(function(index) {
		counter = counter + 1;
		total_height_of_elements = total_height_of_elements + $(this).height();
	})

	var remainder = container_height - total_height_of_elements;
	var padding = remainder / counter;
	padding = padding / 2;
	$('.valign_container').first().find('.foralign').each(function(index) {
	 $(this).css("padding-top", padding).css("padding-bottom", padding)
	})
}
var InvitationFrontView = Backbone.View.extend({
	el: '#invitation_front_preview',
	initialize: function() {
		 this.listenTo(this.model, 'change', this.render)
		 		 this.listenTo(this.model, 'change:maintext', this.render)
	},
	render: function() {
	  var compiled_template = _.template($('#invitation_front_template').html());
		var pretty = this.model.toJSON();
		var pretty_monogram_month = months[this.model.get("wedding_month") - 1]
		pretty.pretty_monogram_month = pretty_monogram_month;
		
		var date_subscript = determine_date_subscript(this.model.get("wedding_day"));
		pretty.pretty_date_subscript = date_subscript
		
	  var html =compiled_template(pretty)
		this.$el.html(html);
		Valign();
		return this;
	}
})

var iv = new InvitationFrontView({model: detail});
iv.render();

// Must wait until images are loaded first otherwise script will miscalculate the heights of elements as the images will not have caused the elements to expand.
  $(window).bind("load", function() {
	// Formula to vertically align a list of elements:
	// ((height_of_page - (height of page - total of all elements height)) / (number_of_elements + 1))
	// 


////
////
////   FORM
////
////
var InvitationForm = Backbone.View.extend({
  tagName: "form",
	attributes: { "method": "POST", "action": "/sendform"},
	initialize: function() {
		this.listenTo(this.model, "change:maintext", this.renderMainText)
	},
	renderMainText: function() {
		  var $maintext = this.$('#maintext_container')
			$maintext.empty();
				var lines = this.model.get("maintext")
				var counter = 0;
				lines.forEach(function(line) {
					var $label = $('<label for="maintext' + counter + '">Line ' + counter + '</label><br/>')
					var $field = $('<input type="text" value="' + line + '" name="maintext' + counter+ '" size="50" data-field="maintext" data-counter="' + counter + '"></input><img src="/gfx/icons/delete.svg" style="width:13px;" data-delete="' + counter + '"class="delete"><br/>"')

					$maintext.append($label).append($field)
					if (counter == (lines.length - 1)) {
						$maintext.append('<div class="add" style="cursor:pointer;width:150px;padding:10px;text-align:center;border-radius:8px;font:normal 1em OS Light"><img src="/gfx/icons/add.svg" style="vertical-align:middle;width:15px;"> ADD ANOTHER LINE</span><br/>')
					}
					counter = counter + 1;
				})
	},
	events: {
		'blur input': 'update',
		'click .add': 'addToMainText',
		'click .delete': 'deleteMainText',
		'change select': 'selectChanged'
	},
	deleteMainText: function(e) {
	  var $field = $(e.currentTarget);
		var index = $field.data("delete")
		var ary = this.model.get("maintext");
		ary.splice(index,1)
		this.model.set("maintext", ary).trigger("change:maintext")
	},
	addToMainText: function() {

	  var ary = this.model.get("maintext");
		ary.push("");
		console.log(ary)
		this.model.set("maintext", ary).trigger("change:maintext")
	},
	selectChanged: function(e) {
		var $field = $(e.currentTarget);
		var value = $field.val();
		var id = $field.data("field")
		console.log(id,value)
			this.model.set(id, value)
		
	},
	update: function(e) {
	  var $field = $(e.currentTarget);
		var value = $field.val();
    var id = $field.data("field")
		if (id == "maintext") {
      var ary = this.model.get("maintext");
      ary[$field.data("counter")] = value;
			this.model.set("maintext", ary).trigger("change")
		} else {	
		  this.model.set(id, value)
		}
	},
	render: function() {
	var that = this;
	this.$el.empty();
	var fields = this.model.attributes
		for(key in fields) {
		// MAKE FRIENDLY NAME				
				var name = key.replace(/_/g, " ").split("-")[0];
				name = name.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
		  if (key == "maintext") {
			  var $maintext = $('<div id="maintext_container"></div>')
				var lines = fields[key]
				var counter = 0;
				lines.forEach(function(line) {
				  var $label = $('<label for="maintext' + counter + '">Line ' + counter + '</label><br/>')
					var $field = $('<input type="text" value="' + line + '" name="maintext' + counter+ '" size="50" data-field="maintext" data-counter="' + counter + '"></input><img src="/gfx/icons/delete.svg" style="width:13px;" data-delete="' + counter + '"class="delete"><br/>"')

			    $maintext.append($label).append($field)
			    if (counter == (lines.length - 1)) {
				    $maintext.append('<div class="add" style="cursor:pointer;width:150px;padding:10px;text-align:center;border-radius:8px;font:normal 1em OS Light"><img src="/gfx/icons/add.svg" style="vertical-align:middle;width:15px;"> ADD ANOTHER LINE</span><br/>')
			    }
					counter = counter + 1;
				})
				that.$el.append($maintext)
			} else if (key == "wedding_day" || key == "rsvp_day") {
				var $label = $('<label for="' + key + '">' + name + '</label><br/>')
				var build_select_string = '<select name="' + key + '" data-field="' + key + '">'
				for(var i=1; i < 32; i++) {
					build_select_string = build_select_string + '<option value="' + i + '">' + i + '</option>'
				}
				build_select_string = build_select_string + "</select><br/>"
				var $field = $(build_select_string)
				that.$el.append($label).append($field)
			} else if (key == "wedding_month" || key == "rsvp_month"){
				var $label = $('<label for="' + key + '">' + name + '</label><br/>')
				var build_select_string = '<select name="' + key + '" data-field="' + key + '">'
				for(var i=1; i < 13; i++) {
					build_select_string = build_select_string + '<option value="' + i + '">' + months[i-1] + '</option>'
				}
				build_select_string = build_select_string + "</select><br/>"
				var $field = $(build_select_string)
				that.$el.append($label).append($field)
			} else if (key == "wedding_year" || key == "rsvp_year"){
				var $label = $('<label for="' + key + '">' + name + '</label><br/>')
				var build_select_string = '<select name="' + key + '" data-field="' + key + '">'
				for(var i=2015; i < 2019; i++) {
					build_select_string = build_select_string + '<option value="' + i + '">' + i + '</option>'
				}
				build_select_string = build_select_string + "</select><br/>"
				var $field = $(build_select_string)
				that.$el.append($label).append($field)
			} else {
			  
			  var $label = $('<label for="' + key + '">' + name + '</label><br/>')
		    var $field = $('<input type="text" value="' + fields[key] + '" size="50" data-field="' + key + '" name="' + key + '"></input><br/>"')
			  this.$el.append($label).append($field)
			}
		}	
		this.$el.append("<input type='hidden' name='ebay_id' value='<%= ebay_id %>'></input>")
		this.$el.append("<input type='submit' style='padding:1em;margin-top:1em;'></submit>")
		return this;
	}
})

var invitation_form = new InvitationForm({model:detail});
$('#form_container').html(invitation_form.render().$el);

Valign();

// Copy monogram to front design
$('#original_monogram').clone().appendTo('.second_monogram');

//var $front = $('.invitation_front').clone();
//$front.appendTo('#printable_area');
//var $back = $('.invitation_back').clone();
//$back.appendTo('#printable_area')	

//var $printable_area = $('#printable_area').clone()
  // $('#printable_area') is the equivalent of an A4 page width 
	// therefore we need to find the value of the viewport and scale it
	// up or down by a percentage to make it the same size as the viewport
	// We use  the transform_value as the percentage.
//$('#ui_area').html($printable_area.html())


$('#folded_invite').click(function() {
  $front = $('#ui_area .invitation_front')[0];
  $front = $($front);
	$back = $('#ui_area .invitation_back')[0];
	$back = $($back);
  $('#folded_invite').addClass("selected")
	$('#flat_invite').removeClass("selected")
  $('#printable_area').html($front.clone().css({float: "right", clear: "both"}));
	$('#printable_area').append($front.clone().css({float:"right", clear: "both"}));
	$('#printable_area').append($back.clone().css({float: "right", clear: "both"}));
	$('#printable_area').append($back.clone().css({float:"right", clear: "none"}))
})

$('#flat_invite').click(function() {
  $front = $('#ui_area .invitation_front')[0];
	$front = $($front);
	$back = $('#ui_area .invitation_back')[0];
	$back = $($back);
	$('#folded_invite').removeClass("selected")
	$('#flat_invite').addClass("selected")
	$('#printable_area').html($front.clone().css({float: "left", clear: "none"}));
	$('#printable_area').append($back.clone().css({float: "left", clear: "none"}));
	$('#printable_area').append($front.clone().css({float: "left", clear: "none"}));
	$('#printable_area').append($back.clone().css({float: "left", clear: "none"}));
})

 $('#printer_icon').click(function() {
 	  $('#ui_print_alert').fadeIn();
 })
 
 $('#print_now').click(function() {
  	$('#ui_print_alert').hide();
	  window.print();
 })
 
 $('.close').click(function() {
   $('#ui_print_alert').fadeOut();
 })
 
 
 
 })
	 
</script>

</body>

</html>